<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCT: Post Title</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![end if]-->
</head>
<body>
<!-- Header, branding, and navigation(and search) -->
<header>
    <h1>The Creative Truth</h1>
    <search>This is the search function</search>
    <nav>
        <ul>
            <li><a href="social.html" title="social">SOCIAL</a></li>
            <li><a href="politics.html" title="politics">POLITICS</a></li>
            <li><a href="science-tech.html" title="science-tech">SCIENCE/TECH</a></li>
            <li><a href="sports.html" title="sports">SPORTS</a></li>
        </ul>
    </nav>
</header>
<!-- 3 most recent posts -->
<main>
    <article>
        <h2>Article Title</h2>
        <p>article text</p>
        <img/> <!-- this is an infographic placeholder -->
        <footer>
            <section>
                <h3>About the author:</h3>
                <h4>author name</h4>
                <p>author blurb</p>
            </section>
        </footer>
    </article>
</main>
<!-- Our own ads for following us, sharing, and contributing -->
<section>
    <article>
        <h3>Follow Us! ad</h3>
            <h4>We are on Twitter, and especially look us up on GitHub to see all of our code</h4>
            <p>
                <a href="https://github.com/carterfawson/TheCreativeTruth">GitHub</a>
                <a href="https://twitter.com/CarterFawson">Twitter</a>
            </p>
    </article>
    <article>
        <h3>Share us!</h3>
            <h4>tweet that you read our blog! Share our most recent article!</h4>
     </article>
    <article>
        <h3>Give us suggestions</h3>
    </article>
    <article>
        <img href="aboutus-ad.jpg">
        <button><h3>About us</h3></button>
    </article>

</section>
<!-- Links to our social media, about us, and contact pages -->
<footer>
    <h2>contact & social media</h2>
</footer>

</body>
</html>