boto==2.41.0
cycler==0.9.0
Django==1.8
django-crispy-forms==1.5.2
django-parsley==0.6
docutils==0.12
ecdsa==0.13
Fabric==1.11.1
gspread==0.2.5
gunicorn==19.6.0
matplotlib==1.5.0
numpy==1.10.1
pandas==0.18.0
paramiko==1.17.1
psycopg2==2.6.1
pycrypto==2.6.1
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
scipy==0.17.0
seaborn==0.7.0
six==1.9.0
urllib3==1.14
virtualenv==13.1.2
