.top-buffer { margin-top:20px; }

.img-headline {margin: 0 auto}

.imghead {
    /**background-image: url('/static/blog/images/header.jpeg');
    background-position: center bottom;
    background-size: cover; **/
    height: 175px;
    color: #00b0ff;
    text-align: center;
}

.imghead > h1 {
    font-size: 100px;
}

.navbar-custom {
    background-color: #ffffff;
    border: none;
}

.custom-nav-list {
    display: inline-block;
}

.custom-nav-container {
    text-align: center;
}

body {
    padding-top: 0px;
}

.small-cont {
    width: 60%;
}

.nav-rule {
    margin-top: 0px;
}