{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This meta tag is needed to get the mobile version to show up for some reason, don't know why though -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>The Creative Truth</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![end if]-->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/navbar_justified.css' %}" rel="stylesheet">

</head>
<body>
<header>
    <div class="imghead">
        <h1>The Creative Truth</h1>
    </div>
</header>
<nav>
        <div class="container small-cont">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <h4><a href="social.html" title="social">SOCIAL</a></h4>
                </div>
                <div class="col-sm-3 text-center">
                    <h4><a href="politics.html" title="politics">POLITICS</a></h4>
                </div>
                <div class="col-sm-3 text-center">
                    <h4><a href="science-tech.html" title="science-tech">SCIENCE</a></h4>
                </div>
                <div class="col-sm-3 text-center">
                    <h4><a href="sports.html" title="sports">SPORTS</a></h4>
                </div>
                <div class="hide-search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search our posts...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <hr class="nav-rule">
<!-- 3 most recent posts -->
<main class="container">
    <div class="row main-row">
        <div class="col-sm-8">
            <div class="row top-buffer">
                <img src="{% static 'blog/images/tester2.jpg' %}" class="col-sm-11 center-block img-responsive img-headline"/>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-capitalize">Turning Information Into Wisdom</h2>
                    <p class="lead">How The Creative Truth will help us navigate the polarized ways that we form our opinions.</p>
                </div>
            </div>
            <article class="row top-buffer">
                <img src="{% static 'blog/images/mythconceptions.png' %}" class="col-sm-6 img-responsive img-rounded"/>
                <div class="col-sm-5">
                    <h2>Article 1</h2>
                    <p class="lead">article description</p>
                </div>
            </article>
            <article class="row top-buffer">
                <img src="{% static 'blog/images/money_copy.jpg' %}" class="col-sm-6 img-responsive img-rounded"/>
                <div class="col-sm-6">
                    <h1>Article 2</h1>
                    <p class="lead">article description</p>
                </div>
            </article>

        </div>
    <!-- Our own ads for following us, sharing, and contributing -->
        <div class="col-sm-4">
            <section>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search our posts...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div><!-- /input-group -->
                <hr>
                <article>
                    <h3>Follow Us! ad</h3>
                        <h4>We are on Twitter, and especially look us up on GitHub to see all of our code</h4>
                        <p>
                            <a href="https://github.com/carterfawson/TheCreativeTruth">GitHub</a>
                            <a href="https://twitter.com/CarterFawson">Twitter</a>
                        </p>
                </article>
                <hr>
                <article>
                    <h3>Share us!</h3>
                        <h4>tweet that you read our blog! Share our most recent article!</h4>
                 </article>
                <hr>
                <article>
                    <h3>Give us suggestions</h3>
                </article>
                <article>
                    <img href="aboutus-ad.jpg">
                    <button><h3>About us</h3></button>
                </article>
            </section>
        </div>
    </div>
</main>
<hr>
<!-- Links to our social media, about us, and contact pages -->
<footer class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; TheCreativeTruth.net &middot; <a href="#">Contact Us</a> &middot; <a href="#">About Us</a></p>
</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/index.js' %}"></script>
</body>
</html>